#header { color: white; text-align: center; font-family: Comic sans MS; font-weight:bold; font-size:40; height:10%; text-align:middle;text-shadow: 3px 3px 4px #000000; }
div {
    display: block;
}
table {width:100%;}
th,td { text-align: center;
		padding: 8px;}
tr:nth-child(even){background-color: #FC3927}

#wrapper {
    width: 100%;
    height:100%;
}

#topleft {
    float:left;
    width: 50%;
    height: 80%;

}
	#headshot {
		float:left;
		width:50%;
		height:50%;
	}
		#pic {
			width:250px;
			height:250px;    
			position: relative;
			left: 50%;
			margin-left: -130px;
			border-style: double;
			border-color: white;
			border-width: 5px;
		}
		
	#education {
		float:left;
		width:50%;
		height:25%;

	}
		ul.school {list-style-type: square;}
		
	#carrer {
		float:left;
		width:50%;
		height:25%;
	}
	#hobby {
		float:left;
		width:50%;
		height:50%;
	}
		ul.hobby {list-style-type: square;}
		ul.links {list-style-type:circle;}
	#music {
		float:right;
		width:50%;
		height:50%;
	}
		ul.songs {list-style-type: square;}
		
#topright {
    float:left;
    width: 50%;
    height: 80%;
}
	#website { color: white; text-align: center; font-family: Comic sans MS; border-style:double;
	border-width: 10px; font-size:20; font-weight:bold}
	#assignment { color: white; text-align: center; font-family: Comic sans MS; 
	 font-size:20; font-weight:bold}
#bottom {
    float:left;
    width: 100%;
    height: 25%;
}
#quote {width: 100%; color: white; font-family: Comic sans MS; border-style: double;
		border-width:5px; font-size:20; font-weight:bold;text-shadow: 3px 3px 4px #000000;}
.smallLink { color:white;; font-family: Comic sans MS;border-width:5px; font-size:15; font-weight:bold; text-align: center;text-shadow: 3px 3px 4px #000000;}	
.title{ color:white;; font-family: Comic sans MS;border-width:5px; font-size:25; font-weight:bold; text-align: center;text-shadow: 3px 3px 4px #000000;}	
.text { color:white;; font-family: Comic sans MS; font-size:20; text-shadow: 3px 3px 4px #000000;}